@media screen and (max-width: 768px){

    *, *::after, *::before{

        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Space Grotesk", serif;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        list-style: none;
    
    }
    
    *::-webkit-scrollbar {
        display: none;
    }
    
    * {
        scrollbar-width: none; 
        -ms-overflow-style: none; 
    }
    
    html{
    
        scroll-behavior: smooth;
        scroll-padding-top: 90px;
    
    }

    .headNav {
        position: sticky; 
        top: 0; 
        z-index: 10; 
        padding: 10px 20px; 
        display: flex;
        background-color: white;
        align-items: center;
        justify-content: space-between;
    }
    
    .logo img{
    
        max-width: 190px;
        height: auto;
    
    }
    
    .headNavMenu{
    
        display: none;
    
    }

    .hamburger{

        cursor: pointer;

    }

    .bar{

        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        background-color: black;
        border-radius: 45px;

    }
    
    .headNavMenu a{
    
        color: black;
        position: relative;
    
    }
    
    .headNavMenu a:not(:last-of-type):after{
    
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 2px;
        background-color: black; 
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.3s ease;
    
    }
    
    .headNavMenu a:hover::after{
    
        transform: scaleX(1);
    
    }
    
    .headNavMenu a:last-of-type{
    
        padding: 20px 35px;
        border-radius: 14px;
        border: 2px solid black;
        transition: all 0.3s ease-in-out;
    }
    
    .headNavMenu a:last-of-type:hover{
    
        background-color: black;
        color: white;
        transition: all 0.3s ease-in-out;   
    
    }
    
    .video {
        
        display: none;
        
    }

    .carousel {
        position: relative;
        overflow: hidden;
    }
    
    .carousel-inner {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }
    
    .carousel-item {
        min-width: 100%;
        box-sizing: border-box;
    }
    
    .carousel img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .carousel-control {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        cursor: pointer;
        padding: 10px;
        font-size: 24px;
    }
    
    .carousel-control.prev {
        left: 10px;
    }
    
    .carousel-control.next {
        right: 10px;
    }
    
    
    .background-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
    
    .about{
    
        padding: 60px 20px 0 20px;
        z-index: 1;
    
    }
    
    .aboutTop{
    
        text-align: center;
    
    }

    .aboutTop br{

        display: none;

    }
    
    .aboutTop h2{
    
        display: inline;
        font-size: 40px;
        background-color: #08FF6C;
        border-radius: 7px;
        padding: 0 7px;
        font-weight: 500;
    
    }
    
    .aboutTop p{

        margin-top: 30px;
        font-size: 18px;
    
    }
    
    .aboutMain{
    
        margin-top: 40px;
        padding: 70px 60px;
        background-color: #191A23;
        border-radius: 45px;
    
    }
    
    .aboutMain .content p{
    
        color:  white;
        font-size: 18px;
    
    }
    
    .aboutMain .content a{
    
        text-decoration: none;
        color: #B9FF66;
        display: inline-flex;
        margin-top: 20px;
        gap: 15px;
        align-items: center;
        font-size: 20px;
    
    }
    
    .line{
    
        min-height: 1px;
        background-color: white;
        margin-top: 30px;
        margin-bottom: 30px;
    
    }
    
    .training{
    
        padding: 60px 20px 0 20px;
        z-index: 1;
    
    }
    
    .trainingTop{
    
        text-align: center;
    
    }
    
    .trainingTop br{

        display: none;

    }

    .trainingTop h2{
    
        display: inline;
        font-size: 40px;
        background-color: #08FF6C;
        border-radius: 7px;
        padding: 0 7px;
        font-weight: 500;
    
    }
    
    .trainingTop p{
    
        font-size: 18px;
        margin-top: 30px;
    
    }
    
    .olympics{
    
        padding: 60px 20px 0 20px;
        z-index: 1;
    
    }
    
    .olympicsTop{
    
        text-align: center;
    
    }

    .olympicsTop br{

        display: none;

    }
    
    .olympicsTop h2{
    
        font-size: 40px;
        background-color: #08FF6C;
        border-radius: 7px;
        padding: 0 7px;
        font-weight: 500;
        display: inline;
    
    }
    
    .olympicsTop p{
    
        font-size: 18px;
        margin-top: 30px;
    
    }
    
    .trainingMain{
    
        margin-top: 40px;
    
    }
    
    .trainingCard{
    
        background-color: #F3F3F3;
        border: solid 1px #191A23;
        padding: 30px 30px;
        border-radius: 35px;
        box-shadow: 0px -5px 0px #191A23 inset;
        overflow: hidden;
        transition: background-color 0.5s ease;
    }
    
    .trainingCard:not(:first-of-type){
    
        margin-top: 30px;
    
    }
    
    .trainingCardTop{
    
        display: flex;
        align-items: center;
        justify-content: space-between;
    
    }
    
    .trainingCardTopStart{
    
        display: flex;
        align-items: center;
    
    }
    
    .trainingCardTopStart img{
    
        width: 40px;
        height: auto;
    
    }
    
    .trainingCardTopStart p{
    
        font-weight: 500;
        font-size: 18px;
        margin-left: 25px;
    
    }
    
    .toggle{

        width: 30px;
        height: auto;

    }

    .vline{
    
        height: 1px;
        background-color: black;
        margin-top: 0;
        transition: margin-top 0.3s ease;
    
    }
    
    .trainingCardText{
    
        font-size: 16px;
        transition: max-height 0.5s ease-in-out, opacity 0.3s ease, visibility 0.3s ease;
        overflow: hidden;
    
    }
    
    .trainingCardText p{
    
        margin-top: 30px;
    
    }
    
    .production{
    
        padding: 60px 20px 0 20px;
        z-index: 1;
    
    }
    
    .productionTop{
    
        text-align: center;
    
    }

    .productionTop br{

        display: none;

    }
    
    .productionTop h2{
    
        font-size: 40px;
        background-color: #08FF6C;
        border-radius: 7px;
        padding: 0 7px;
        font-weight: 500;
        display: inline;
    
    }
    
    .productionTop p{
    
        font-size: 18px;
        margin-top: 30px;
    
    }
    
    .productionMain{
    
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        margin-top: 40px;
        position: relative;
    
    }

    .productCardsBottom{
    
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    
    .productionCard1 img{
    
        max-width: 90px;
        height: auto;
        object-fit: contain;
    
    }
    
    .productionCard2 img{
    
        max-width: 60px;
        height: auto;
        object-fit: contain;
    
    }
    
    .productionCard3 img{
    
        max-width: 120px;
        height: auto;
        object-fit: contain;
    
    }
    
    .textGreen span{
    
        padding: 0 7px;
        font-size: 27px;
        background-color: #08FF6C;
        border-radius: 7px;
        font-weight: 500;
    
    }
    
    .textWhite span{
    
        padding: 0 7px;
        font-size: 27px;
        background-color: #ffffff;
        border-radius: 7px;
        font-weight: 500;
    
    }
    
    .productionCard1{
    
        flex: 1;
        padding: 50px;
        border-radius: 45px;
        border: solid 1px #191A23;
        box-shadow: 0px -5px 0px #191A23 inset;
        background-color: #F3F3F3;
        text-align: center;
    
    }
    
    .productionCard2{
    
        flex: 1;
        padding: 50px;
        border-radius: 45px;
        border: solid 1px #191A23;
        box-shadow: 0px -5px 0px #191A23 inset;
        background-color: #08FF6C;
        text-align: center;
        margin-top: 40px;
    
    }
    
    .productionCard3{
    
        flex: 1;
        padding: 50px;
        border-radius: 45px;
        border: solid 1px #191A23;
        box-shadow: 0px -5px 0px #191A23 inset;
        background-color: #191A23;
        text-align: center;

    }

    .productionCards img{

        margin-top: 30px;

    }

    .contact{
    
        padding: 60px 40px 0 40px;
        z-index: 1;
    
    }
    
    .contactTop{
    
        text-align: center;
    
    }
    
    .contactTop h2{
    
        font-size: 40px;
        background-color: #08FF6C;
        border-radius: 7px;
        padding: 0 7px;
        font-weight: 500;
        display: inline;
    
    }
    
    .contactTop p{
    
        margin-top: 30px;
        font-size: 18px;
    
    }
    
    .contactTop p br{

        display: none;

    }

    .contactMain{
    
        padding: 30px 40px;
        background-color: #F3F3F3;
        margin-top: 80px;
        border-radius: 45px;
        gap: 130px;
    
    }

    .contactSubmitInside{

        display: none;

    }

    .contactMain img{
    
        display: none !important;

    }

    .contactMain{

        justify-content: center !important;

    }
    
    .inputBox:not(:first-child){
    
        margin-top: 25px;
    
    }
    
    .inputBox label{
    
        font-size: 16px;
        font-weight: 400;
    
    }
    
    .inputBox input{
    
        padding: 18px 30px;
        width: 100%;
        border: 1px solid black;
        border-radius: 14px;
        margin-top: 5px;
        outline: none;
    
    }
    
    .inputBox textarea{
    
        resize: none;
        border-radius: 14px;
        border: 1px solid black;
        padding: 18px 30px;
        width: 100%;
        height: 190px;
        margin-top: 5px;
        outline: none;
    
    }
    
    .contactSubmit{
    
        margin-top: 80px;
        color: white;
        background-color: #191A23;
        border: none;
        width: 100%;
        height: 57px;
        border-radius: 14px;
        transition: all 0.3s ease-in-out;
        border: 2px solid black;
    
    }
    
    .contactSubmit:hover{
    
        border: 2px solid black;
        transition: all 0.3s ease-in-out;
        background-color: transparent;
        color: black;
    
    }
    
    .contactMain img{
    
        min-width: 40%;
        height: auto;
    
    }
    
    .footer{
    
        margin-top: 90px;
        background-color: #191A23;
        padding: 50px 60px 55px 60px;
    
    }
    
    .logoFoot img{
    
        max-width: 190px;
        height: auto;
    
    }
    
    .footerCompanyLogos{
    
        display: flex;
        align-items: center;
        margin-top: 30px;
        gap: 20px;
    
    }
    
    .companyLogo img{
    
        width: 25px;
        height: auto;
    
    }
    
    .footerCompanyLogos .companyLogo{
    
        background-color: #ffffff;
        padding: 8px;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    
    .footerCompanyLogos .companyLogo:last-of-type{
    
        padding: 12px 8px;
    
    }
    
    .footerCompanyLogos .companyLogo:nth-child(3){
    
        padding: 8px 13.5px 8px 13.5px;
    
    }
    
    .footerCompanyLogos .companyLogo:nth-child(3) img{
    
        width: 15px;
        height: auto;
    
    }
    
    .map{
    
        border-radius: 15px;
        border: 10px solid white;
        height: 300px;
        max-width: -moz-available;
        pointer-events: none;
    
    }
    
    .footerMain{

        margin-top: 30px;
    
    }
    
    .footInfo{
    
        color: white;
        font-weight: 400;
    
    }
    
    .footInfo p{
    
        margin-bottom: 20px;
    
    }
    
    .footInfo p:first-of-type{
    
        display: inline-block;
        margin-bottom: 25px;
        background-color: #08FF6C;
        color: black;
        font-weight: 500;
        font-size: 20px;
        padding: 7px;
        border-radius: 7px;
    
    }
    
    .footBottom{
    
        margin-top: 50px;
        color: white;
    
    }
    
    .footBottom p{
    
        margin-top: 50px;
    
    }
    
    .vlineFoot{
    
        height: 1px;
        background-color: white;
    
    
    }

}